.App {
    text-align: left;
}

.section {
    margin: 40px 0;
    padding: 0 40px;
    clear: both;
}

/* INTRO section */

#intro {
    background: url(../img/coitus.png) no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    text-align: center;
    color: var(--light-text);
}

#intro h1 {
    margin-top: 60px;
}

.banner-social-buttons {

}

.banner-social-buttons > li {
    list-style-type: none;
    width: 125px;
    border-radius: 4px;
    background-color: whitesmoke;
    color: black;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.banner-social-buttons > li > .fa {
    float: left;
}

.banner-social-buttons > li > span {
    float: right;
}


/* ABOUT section */

#portrait {
    width: 50vw;
    float: right;
    margin: 15px;
}

/* TECH section */

#tech {
    background-color: var(--secondary-color);
}
#robotic {
    width: 50vw;
    float: left;
}

/* PROJECTS section */

/* CONTACT section */

#contact {
    background: url(../img/raindrops.png) no-repeat center center fixed;
    background-size: cover;
    height: 350px;
    text-align: left;
    align-items: center;
    color: var(--light-text);
    display: flex;
}

#contact > h2 {
    width: 50vw;
    text-shadow: 1px 1px var(--tertiary-color);
}
