.App {
    text-align: left;
}

.section {
    margin: 0;
    padding: 40px 40px;
    clear: both;
}

/* INTRO section */

#intro {
    background: url(../img/coitus.png) no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    text-align: center;
    align-items: center;
    display: flex;
    color: var(--light-text);
}

hr {
    width: 200px;
    border-top: 1px solid var(--light-text);
    margin: 30px;
}

/*.banner-social-buttons > ul {*/
    /*display: inline;*/
/*}*/

#intro > .banner-social-buttons > li {
    float: right;
    width: 125px;
    border-radius: 4px;
    background-color: whitesmoke;
    color: black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.banner-social-buttons > li > .fa {
    float: left;
}

.banner-social-buttons > li > span {
    float: right;

}


/* ABOUT section */

#about {
    background-color: var(--light-text);
    background-size: cover;
    padding: 50px;
}

.accompany-text {
    padding: 50px;
    color: var(--dark);
    float: left;
    width: 45vw;
}

#portrait {
    width: 40vw;
    float: right;
    margin: 15px;
}

/* TECH section */

#tech {
    background-color: var(--main-color);
    background-size: cover;
}

/* PROJECTS section */

.data-toggle > a {
    margin-bottom: 10px;
    color: var(--secondary-color);
}

/* CONTACT section */

#contact {
    background: url(../img/raindrops.png) no-repeat center center fixed;
    background-size: cover;
    height: 350px;
    text-align: left;
    align-items: center;
    color: var(--light-text);
    display: flex;
}

#contact > .btn .btn-default .btn-lg {
    color: black;
}

/*#contact > h2 {*/
    /*width: 40vw;*/
    /*text-shadow: 1px 1px var(--tertiary-color);*/
/*}*/

/*#contact > .container > .row > .col-lg-6 > h2 {*/
    /*float: left;*/
/*}*/

.footer-menu-divider {
    color: var(--main-color);
}
