.navbar {
    height: 35px;
    width: 100%;
    padding: 5px;
}

.brand {
    font-size: 30px;
    color: var(--main-color);
    float: left;
    margin: 10px 20px;
}

.right-nav {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

.right-nav li{
    font-size: 16px;
    float: left;
    margin: 10px;

}
