:root{
    --main-color: #D4C82C;
    --secondary-color: #877F0F;
    --tertiary-color: #B8ADD4;
    --contrast: #280187;
    --light-text: whitesmoke;
    --dark: #191919;

    /* typography */

    --main-font: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

}


